.main {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
  width: 100%;
  min-height: 100vh;
}

.tool {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
  min-width: 800px;
  max-width: calc(100% - 40px);
}